#include <winver.h>
#include "file_info.hpp"

// Build type
#ifdef DEBUG
    #define BUILD_TYPE VS_FF_DEBUG
#else
    #define BUILD_TYPE VS_FF_PRERELEASE
#endif

// File information
VS_VERSION_INFO VERSIONINFO
FILEVERSION FILTER_VERSION_NUMBER
PRODUCTVERSION FILTER_VERSION_NUMBER
FILEFLAGSMASK  	VS_FFI_FILEFLAGSMASK
FILEFLAGS      	BUILD_TYPE
FILEOS         	VOS__WINDOWS32
FILETYPE       	VFT_DLL
FILESUBTYPE    	VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"    // Language (see below)
        BEGIN
            VALUE "FileDescription", FILTER_DESCRIPTION
            VALUE "CompanyName", FILTER_AUTHOR
            VALUE "FileVersion", FILTER_VERSION_STRING
            VALUE "InternalName", FILTER_NAME
            VALUE "LegalCopyright", FILTER_COPYRIGHT
            VALUE "OriginalFilename", FILTER_FILENAME
            VALUE "ProductName", FILTER_NAME
            VALUE "ProductVersion", FILTER_VERSION_STRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
		VALUE "Translation", 0x409,1252	// U.S. English, Multilingual codepage
    END
END
