/*
Project: SSBRenderer
File: resources.rc

Copyright (c) 2013, Christoph "Youka" Spanknebel

This software is provided 'as-is', without any express or implied warranty. In no event will the authors be held liable for any damages arising from the use of this software.

Permission is granted to anyone to use this software for any purpose, including commercial applications, and to alter it and redistribute it freely, subject to the following restrictions:

    The origin of this software must not be misrepresented; you must not claim that you wrote the original software. If you use this software in a product, an acknowledgment in the product documentation would be appreciated but is not required.
    Altered source versions must be plainly marked as such, and must not be misrepresented as being the original software.
    This notice may not be removed or altered from any source distribution.
*/

#include <winresrc.h>
#include "file_info.h"
#include "virtualdub_dialog.h"

// Build type
#ifdef DEBUG
#   define BUILD_TYPE VS_FF_DEBUG
#else
#   define BUILD_TYPE VS_FF_PRERELEASE
#endif

// File information
VS_VERSION_INFO VERSIONINFO
FILEVERSION FILTER_VERSION_NUMBER
PRODUCTVERSION FILTER_VERSION_NUMBER
FILEFLAGSMASK  	VS_FFI_FILEFLAGSMASK
FILEFLAGS      	BUILD_TYPE
FILEOS         	VOS__WINDOWS32
FILETYPE       	VFT_DLL
FILESUBTYPE    	VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"    // Language (see below)
        BEGIN
            VALUE "FileDescription", FILTER_DESCRIPTION
            VALUE "CompanyName", FILTER_AUTHOR
            VALUE "FileVersion", FILTER_VERSION_STRING
            VALUE "InternalName", FILTER_NAME
            VALUE "LegalCopyright", FILTER_COPYRIGHT
            VALUE "OriginalFilename", FILTER_FILENAME
            VALUE "ProductName", FILTER_NAME
            VALUE "ProductVersion", FILTER_VERSION_STRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
		VALUE "Translation", 0x409,1252	// U.S. English, Multilingual codepage
    END
END

// SSB Logo
FILTER_LOGO BITMAP "logo.bmp"

// VirtualDub dialog template
VDUB_DIALOG DIALOGEX 0,0,195,36
CAPTION FILTER_NAME
EXSTYLE WS_EX_ACCEPTFILES
FONT 10,"MS Shell Dlg",400,0,1
LANGUAGE 0x409, 0x1 // United States, English US
STYLE WS_CAPTION|WS_POPUP|WS_SYSMENU|DS_FIXEDSYS|DS_MODALFRAME|DS_SETFONT
BEGIN
    CONTROL FILTER_LOGO,-1,"STATIC",SS_BITMAP|SS_LEFT,2,2,0,0
    LTEXT "Script:",-1,42,5,25,10
    EDITTEXT VDUB_DIALOG_FILENAME,70,5,100,10,ES_AUTOHSCROLL
    PUSHBUTTON "...",VDUB_DIALOG_FILENAME_CHOOSE,172,5,20,10
    LTEXT "Warnings on:",-1,42,22,44,10
    AUTOCHECKBOX "",VDUB_DIALOG_CHECK,88,21,12,12
    DEFPUSHBUTTON "OK",IDOK,109,20,40,12
    PUSHBUTTON "Cancel",IDCANCEL,152,20,40,12
END
